*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

#root{
    height: 100%;
}

.h100{
    position: absolute;
    height: 100%;
    height: calc(100vh - 64px);
}


.login_layout {
    position: absolute;
    width: 100%;
    height: calc(100vh - 64px);

}

.inner {    
    height: 100px;
    position: absolute;
    top: 50%;
    margin-top: -50px;
}